<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Register</title>
    <link rel="stylesheet" href="./css/register.css" />
    <link
      rel="icon"
      href="image\apni_dukan_logo-removebg-preview.png"
      type="image/x-icon"
    />
  </head>

  <body>
    <div id="main">
      <div id="img"></div>
      <div class="box">
        <div class="form">
          <h2>Register</h2>
          <div class="inputBox">
            <input type="text" required="required" id="name" />
            <span>Name</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" required="required" id="email" />
            <span>Email</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="password" required="required" id="pas" />
            <span>Password</span>
            <i></i>
          </div>
          <div class="links">
            <a href="#"> Forgot Password</a>
            <a href="login.html"> Login</a>
          </div>
          <input type="submit" id="submit_btn" value="Register" />
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  let btn = document.getElementById("submit_btn");
  btn.addEventListener("click", function (event) {
    event.preventDefault();

    let userdetail = {
      name: document.getElementById("name").value,
      email: document.getElementById("email").value,
      password: document.getElementById("pas").value,
    };

    fetch("https://cute-gilet-lion.cyclic.app/users/register", {
      method: "POST",
      headers: {
        "Content-type": "application/json",
      },
      body: JSON.stringify(userdetail),
    })
      .then((res) => {
        return res.json();
      })
      .then((res) => {
        console.log(res);
        if (res.message == "user registered successfully") {
          alert(res.message);
          window.location.href = "login.html";
        } else {
          alert(res.message);
          window.location.href = "login.html";
        }
      })
      .catch((err) => console.log(err));
  });
</script>

<!-- <script>


    let btn = document.getElementById("submit_btn")
    btn.addEventListener("click", function (event) {

        event.preventDefault();


        let userdetail = {
            name: document.getElementById("name").value,
            email: document.getElementById("email").value,
            password: document.getElementById("pas").value

        }    -->
<!-- //     fetch("https://pear-crayfish-hat.cyclic.app/users/register", {
    //         method: "POST",
    //         // headers: {
    //         //     "Content-type": "application/json"
    //         // },
    //         body: JSON.stringify(userdetail)
            
    //     }).then(res => res.json())

    //         .then(res => {console.log(res)
    //             localStorage.setItem("token", res.token);
    //         })
    //         .catch(err => console.log(err))

    //     alert("Register Successful")
    //     console.log(userdetail);
        
     }); -->

<!-- </script> -->
